
<div class="small-12 columns">
<div class="form-style-10">
<h1 style="text-align: center">Edit Tour</h1></br>

<%= render 'form' %>

<%= link_to 'Show', @tour %> |
<%= link_to 'Back', tours_path %>
</div>
</div>

