<div class="row">
<div class="small-12 columns">
<div class="form-style-8"
<h1>Editing tour</h1>

<%= render 'form' %>

<%= link_to 'Show', @tour %> |
<%= link_to 'Back', tours_path %>
</div>
</div>
</div>
