<div class="large-12 columns">

<div class="form-style-10">
<h1 style="text-align: center">Book Tour</h1>


<%= render 'form' %>

<%= link_to 'Back', tours_path, class: 'small button round' %>

</div>
</div>

