<div class="large-12 columns">
<div class="large-4 columns">
<div class="form-style-10">
<p><img src="http://placehold.it/400x400&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
<p class="lead">Copernican Revolution caused an uproar</p>
<p class="subheader">Find Earth-like planets life outside the Solar System</p>
</div>
</div>
<div class="large-4 columns">
<div class="form-style-10">
<p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
<p class="lead">Copernican Revolution caused an uproar</p>
<p class="subheader">Find Earth-like planets life outside the Solar System</p>
</div>
</div>

<div class="large-4 columns">
<div class="form-style-10">
<h1 style="text-align: center">Book Tour</h1>


<%= render 'form' %>

<%= link_to 'Back', tours_path, class: 'small button round' %>
</div>
</div>
</div>

