$background-color: #292c2f;
$primary-color: #87D37C;

.row {
  max-width: 100%;
}

.menu {
  background-color: $background-color;
  padding: 1.5rem 3rem;
  height: auto;
  
  .inline-list {
    text-align: center;
    
    li {
      float: none;
      display: inline-block;
    }
    
    a {
      color: #fff;
      padding-bottom: 0.5rem;
      
      &:hover {
        color: $primary-color;
        transition: all .3s ease-in-out;
      }
    }
    
    .active a {
      color: $primary-color;
    }
  }
  
  .account {
    position: absolute;
    top: 3%;
    right: 3%;
    
    a , i {
      color: #fff;
    }
  }
  
  @media only screen and (min-width: 40.063em) {
  height: 5rem;
  
  .inline-list { 
    float: left;
    margin: 0 0 0 1.5rem;
    }
    
    a:hover {
      border-bottom: 2px solid $primary-color;
    }
  }
  
  .account-action {
    float: right;
    margin: -.75rem 0 0 0;
    
    li {
      margin-left: .2rem;
    }
    
    a { padding: 0.75rem 1rem;}
    
    a.signup {
      font-weight: bold;
      background-color: scale-color($background-color, $lightness: 10%);
      border-radius: 3px;
    }
  }
}

.name {
  text-align: center;
  font-size:  1.5rem;
  line-height: 1;
  margin: 0 0 1rem 0;
  color: #fff;
  
  i {
    color: $primary-color;
    margin-right: 0.5rem;
  }
  
  @media only screen and (min-width: 40.063em) {
    float: left;
  }
}






.header {
  text-align: center;
  background: url('https://static.pexels.com/photos/6894/summer-photographer-pier-adventure-large.jpg') no-repeat center center;
  background-size: cover;
  padding: 4rem;
  
  .main-header {
    color: #666;
  }
}

.header-subnav {
  float: none;
  position: relative;
  top: 4rem;
  text-align: center;
  margin-bottom: 0;

  li {
    float: none;
    display: inline-block;

    a {
      padding: 0.9rem 1rem 0.75rem;
      font-size: 0.875rem;
      color: #fff;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1px;

      &.is-active {
        background: rgba(250,250,250,0.7);
        color: #333;
      }

      &:hover {
        background: rgba(250,250,250,0.7);
        color: #333;
        transition: all .25s ease-in-out;
      }
    }
  }
}
